<a href="https://colab.research.google.com/github/adil-ak/Week1-python-Basics/blob/main/day2_python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Types**

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [1]:
x = int(20.5)
print(x)

y = float(20.5)
print(y)

20
20.5

In [2]:
z = 105.22
print(type(z))

<class 'float'>

In [5]:
a = str(1)
b = str(2)
c = a+b
print(c)

d = 1
e = 2
f = d+e
print(f)

12
3

**FOR LOOP**

In [14]:
string = "My Name is Adil K"

j=0
for i in string:
  j=j+1
  if j>11:
    print(i)

A
d
i
l

K

**IF LOOP**

In [16]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [15]:
txt = "The best things in life are free!"
print("free" in txt)

True

**SLICING**

In [25]:
b = "Hello, World!"
print(b[7:])

World!

In [26]:
b = "Hello, World!"
print(b[:5])

Hello

**NEGATIVE SLICING**

In [34]:
b = "Hello, World!"
print(b[-6:-1])

World

**CASING**

In [38]:
a = "Hello"
a = a.upper()
print(a)

HELLO

In [39]:
b = "WE ARE ONE"
print(b.lower())

we are one

In [40]:
c = "Eello Everyone, Eere is your Eot eooks"
d = c.replace("E","H")
print(d)

Hello Hveryone, Here is your Hot eooks

In [41]:
e = c.replace("e","H")
print(e)

EHllo EvHryonH, EHrH is your Eot Hooks

In [42]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [43]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [44]:
txt = "The price is" + 20 * 59 + "dollars"
print(txt)

TypeError: can only concatenate str (not "int") to str

In [46]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**BOOLEAN**

In [47]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [48]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [49]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'cherry']

In [53]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(0, "orange")
print(thislist)

['orange', 'apple', 'banana', 'cherry']

In [54]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']