**Create Function**

In [2]:
def hello():
  print("Hello World")

hello()

Hello World

#Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [6]:
def full_name(fname):
  print(fname,"Classic")

full_name("ashraf")
full_name("Rizwan")

ashraf Classic
Rizwan Classic

In [14]:
def full(fname,lname):
  print("Your Staff name is:",fname,lname,fname[0]+lname[0])

fname=(input("Enter your firstname: "))
lname=(input("Enter your lastname: "))
full(fname,lname)

Enter your firstname: ashraf
Enter your lastname: mak
Your Staff name is: ashraf mak am

In [15]:
def full(fname,lname):
  print("Your Staff name is:",fname,lname,"Classic")

fname=(input("Enter your firstname: "))
lname=(input("Enter your lastname: "))
full(fname,lname)

Enter your firstname: rizwan
Enter your lastname: pavan
Your Staff name is: rizwan pavan Classic

In [19]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [22]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [23]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [30]:
def my_function(food):
  for x in food:
    print(x,end=" ")

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple banana cherry

In [35]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(4))

15
20

In [36]:
def my_function(x):
  print(x)

my_function(x=3)

3

In [41]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21